<!DOCTYPE html>
<html>
  <head>
     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
    <title>nothign</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <% include ../partials/navbar%>  
        <a href="/user/signin">Signin</a><br>
        <a href="/user/signup">Signup</a><br>

        <a href="/user/google">google signin</a><br>
        <a href="/user/facebook">facebook signin</a>


  </body>
</html>
